@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,800,700,800italic);
body {
	color: #151515;
	font-family: open sans;
	line-height: 24px;
	font-size: 18px;
}
tr {
	font-size: 14px;
}
#wrapper {
	width: 1000px;
	min-width: 740px;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#about {
	position: relative;
}
#about article  {
	width: 297px;
	padding-left: 10%;
	padding-right: 10%;
	position: absolute;
	height: 331px;
	opacity: 1;
	left: 503px;
	top: 1px;
	text-align: center;
	z-index: 100;
	padding-top: 4%;
	padding-bottom: 10%;
	color: #3E3E3E;
}
hr {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 2px;
	background-color: #DEB775;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	text-shadow: 0px 0px;
	border: none;
}
#aboutscreen {
	background-color: #FFFFFF;
	width: 50%;
	height: 496px;
	position: absolute;
	min-width: 0px;
	float: right;
	opacity: 0.77;
	left: 504px;
	top: 0px;
}
h1, h1 a  {
	font-family: 'Oswald', sans-serif;
	color: #DF900E !important;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-variant: normal;
	text-indent: 0px;
	letter-spacing: 10px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
	text-decoration: none !important;
	background-color: transparent !important;
}
.black {
	color: #444444;
}
#wrapper #top h1 {
}
#banner img {
	min-width: 100%;
}
.centered {
	text-align: center;
}
.centered td {
	padding:15px;
}

h2 {
	color: #E0A900;
	font-family: Oswald;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 20px;
}
#intro {
	width: 70%;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
#footer {
	width: 100%;
	height: 88px;
	text-align: center;
	margin: auto;
	background-color: #F4F1EC;
	font-size: x-small;
	padding-top: 15px;
	box-sizing: border-box;
}
.padding30 {
	padding-top: 30px;
	padding-bottom: 0px;
}
h3 {
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}
a {
	text-decoration: none;
	font-family: "Oswald Bold", "Oswald Light", "Oswald Regular";
	color: #CBA86A;
	text-transform: uppercase;
	letter-spacing: 3px;
}
a:link {
	color: #DCB463;
	font-family: "Oswald Bold", "Oswald Light", "Oswald Regular";
	outline: none !important;
	border: none !important;
	--webkit-tap-highlight: rbga(0,0,0,0);
}
#mainnav ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -40px;
	padding-top: 0px;
	color: #A9A9A6;
	width: 1001px;
}
#mainnav a {
	width: 130px;
	display: block;
	text-align: center;
	background-color: #F4F1EC;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Oswald Bold", "Oswald Light", "Oswald Regular";
	color: #3D3D3D;
	font-variant: normal;
	font-weight: 400;
	font-size: small;
}
#mainnav a:hover  ,a:active  ,a:focus {
	color: #737E81;
	text-decoration: underline;
	font-family: "Oswald Bold", "Oswald Light", "Oswald Regular";
}
:visited {
	color: #E9AB60;
	font-family: "Oswald Bold", "Oswald Light", "Oswald Regular";
}


#mainnav li {
    display: inline-block;
}

p {
    margin-top: 0;
}

article hr {
    background-color: #A9725E;
}

tr {}
#footer a {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #323232;
}
.border-left {
	border-left: 0 double #E0A900;
}
#imagelist a {
	color: #0E57E2;
	font-family: open-sans;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	letter-spacing: normal;
}
#wrap {
	width: 1000px;
	height: 44px;
	z-index: 99;
	background-color: #F4F1EC;
	text-align: center;
}
.navbar {
	height: 44px;
	position: absolute;
	margin: auto;
	width: 1000px;
	display: block;
	padding: 0;
	text-align: center;
}
.navbar > li {
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
	width: auto;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	list-style: none;
	font-family: Oswald;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
	font-size: small;
	background-color: #F4F1EC;
}
.navbar a {
	padding-top: 0px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	display: block;
	text-decoration: none;
	color: #606060;
}
.navbar li:hover, a:hover {
	background-color: #F4F1EC;
	color: #8D8D8D;
}
.navbar li ul li a:hover {
	background-color: #E6E0D5;
}

.navbar li ul {
	display: none !important;
	margin: 0;
	padding: 0;
	height: auto;
	z-index: 1;
	position: relative;
}
.navbar li:hover > ul {
	display: block !important;
}
.navbar li ul li {
	background-color: #F4F1EC;
	list-style: none;
	margin: 0 -20px;
}
  #mybanner{position:relative;height: 449px;} 
  #mybanner0, #mybanner1{position:absolute;top:0;left:0;display:none;} 
  #mybanner0 {display:block;}


area {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}